<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<div id="react"></div>
<div id="root">
    <div id="container"></div>
</div>
<script src="../timemanager/src/index.js"></script>

<div layout:fragment="content">
    <h1>TEST people!</h1>

    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
</div>
</body>
</html>a